@import "bootstrap/mixins";

@mixin user-card($height: 44px) {
    @include clearfix;
    padding: 0;
    background-color: white;
    box-shadow: 0 .5em 1.5em rgba(0, 0, 0, .3),
                0 0 1px rgba(0, 0, 0, .2);
    line-height: $height;
    img {
        float: left;
        display: block;
        margin: 0 1em 0 0; padding: 0;
        width: $height; height: $height;
    }
    .name {
    }
}
