@import "bootstrap/variables";
@import "mixins";

#container.user {
}

#container.user.list {
    .users {
        list-style: none;
    }
    .users li {
        @include user-card();
        margin: 2em 0;
    }
}

#container.user.signin {
    .services {
        list-style: none;
        li {
            margin: 10px 0 20px;
            a { display: block; width: auto; }
        }
    }
}
