{% extends 'base.html' %}

{% block page_class %}group get{% endblock %}

{% block content %}
<h1>{{ obj.name }}</h1>
<ul class="users">
{% for user in obj.users %}
    <li>
        <img src="{{ user.picture_url(44) }}" width="44" height="44" />
        <a class="name" href="{{ resource_url(user) }}">{{ user.name }}</a>
        <span class="login-name">(@{{ user.login }})</span>
        {% for g in user.group_assocs if g.group.pk != obj.pk %}
            <span class="group label">{{ g.group.name }}</span>
        {% endfor %}
    </li>
{% endfor %}
</ul>
{% endblock %}
